<div class="candidate-details-container clear-block">
  <div class="candidate-details-left">
    <div class="candidate-details-left-inner">
      <h3><%= candidate.candidatename %></h3>
    
      <h4>Bio</h4>
      <% if (candidate.biotext) { %>
        <%= candidate.biotext %>
      <% } else { %>
        <p>(not available)</p>
      <% } %>
      
      <h4>Mayor quote</h4>
      <% if (candidate.whymayorquote) { %>
        <%= candidate.whymayorquote %>
      <% } else { %>
        <p>(not available)</p>
      <% } %>
      
    </div>
  </div>
  
  <div class="candidate-details-right">
    <div class="candidate-details-right-inner">
      <h3>&nbsp;</h3>
      
      <div class="candidate-stats sans-serif">
        <div>
          <span class="candidate-stats-label">Age</span>: <%= candidate.age %>
        </div>
        
        <div>
          <span class="candidate-stats-label">Neighborhood</span>: <%= candidate.neighborhood %> (<a href="https://maps.google.com/maps?q=<%= encodeURI(candidate.neighborhood) %>+minneapolis+mn" target="_blank">map</a>)
        </div>
        
        <div>
          <span class="candidate-stats-label">Occupation</span>: <%= candidate.occupation %>
        </div>
        
        <div>
          <span class="candidate-stats-label">Previous offices</span>: <%= candidate.previouspoliticalofficesheld %>
        </div>
      </div>
      
      <h4>Endorsements</h4>
      
      <div class="candidate-endorsements sans-serif">
        <p><%= candidate.supportersandendorsements %></p>
      </div>
      
      <h4>Links</h4>
      
      <div class="candidate-links sans-serif">
        <div>
          <a href="<%= candidate.websiteurl %>" target="_blank">Website</a>
        </div>
        
        <div>
          <a href="<%= candidate.twitterhandle %>" target="_blank">Twitter</a>
        </div>
      </div>
      
      <h4>Read more</h4>
      
      <div class="candidate-links sans-serif">
        <% if (candidate.firstarticlelink) { %>
          <div><%= candidate.firstarticlelink %></div>
        <% } %>
        
        <% if (candidate.secondarticlelink) { %>
          <div><%= candidate.secondarticlelink %></div>
        <% } %>
        
        <% if (candidate.thirdarticlelink) { %>
          <div><%= candidate.thirdarticlelink %></div>
        <% } %>
      </div>
  
    </div>
  </div>
</div>