<div class="candidates-container">
  <div class="candidates-list clear-block">
    <% _.each(candidates, function(c) { %>
      <div class="candidate-list-candidate">
        <div class="candidate-list-candidate-inner sans-serif <%= c.id %>">
          <a href="#candidate/<%= c.id %>">
            <img src="<%= options.imagePath %><%= c.image %>" />
          </a>
          <a href="#candidate/<%= c.id %>"><%= c.candidatename %></a>
        </div>
      </div>
    <% }) %>
  </div>

  <div id="candidates-details" class="clear-block">
    <p class="click-candidate-desciption sans-serif">Click candidate to see details</p>
  </div>
</div>